*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}
/* NAV BAR */
.logo{
    width: 150px;
    height: 150px;
}
.cont1{
    display: flex;
    align-content: center;
}
.cont1-logo{
    display: flex;
    margin: 32px 30px 15px 270px;
}
.list, li{
    font-style: none;
    font-size: 18px;
    text-decoration: none;
    color:#57635f;
    list-style: none;
    font-weight: bold;
    gap: 15px;
    margin-left: 30px;
    display: flex;
}
.list:hover{
    background-color: #57be9c;
    padding: 10px;
    border-radius: 5px;
    color:aliceblue;
}
.search-bar{
    margin-left: 60px;
    padding: 5px;
    font-size: 15px;
    font-size: large;
    width: 300px;
}
.search-bar:hover{
    padding: 15px;
    border-radius: 5px;
    font-size: medium;
}
.cont1-ul{
    display: flex;
    align-items: flex-start;
}
.cont1-button{
    display: flex;
    align-content: space-between;
    margin: 100px 0px 32px 10px;
}
/* START OF BANNER / CONTAINER TWO */
.cont2-div1,
.cont2-quote{
    display: flex;
    justify-content: center;
}
.cont2-banner{
    margin-top: 100px;
    width: 1200px;
    height: 600px;
}
.cont2-quote{
    font-size: 36px;
    font-style: italic;
    text-align: center;
    padding: 100px;
    color:#57635f;
}
/* END OF BANNER / CONTAINER TWO */
/* LOG IN DESIGN */
.login-page{
    background-color: #e8f3ef;
}
#main-logindiv,#regform-main{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10%;
}
.login,
.regform{
    background-color:#DF78AE;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding: 50px;
}
.login-div1,
.login-div2,
.regform-div,
.regform-submit{
    display: flex;
    justify-content: center;
    font-size: large;
    align-content: space-between;
    margin-bottom: 15px;
}
.login-input{
    padding: 10px;
    width: 600px;
    border-radius: 5px;
}
.login-div1{
    margin-top: 10px;
}
.login-button, .signup-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginbutton{
    padding: 10px;
    width: 600px;
    font-size: larger;
    text-decoration: none;
    color: #99a09d;
}
.signup-button{
    margin-top: 100px;
}
/* REGISTRATION FORM */
.regform{
    background-color: #93E2C7;
    color:#57635f;
    height: 500px;
}
.regform-submit{
    padding: 5px;
    font-size: medium;
}
 /* START OF CONTAINER THREE */
 .cont3{
     background-color: #d1e7de;
     padding: 20px;
 }
.cont3-div2,
.cont3-title{
    display: flex;
    justify-content: center;
    align-content: center;
}
.cont3-title{
    padding: 30px;
    color:#404644;
}
.cont3-img{
    height: 300px;
    width: 300px;
    margin-bottom: 40px;
}
.cont3-shopnow{
    background-color: #57be9c;
    height: 20px;
    padding: 10px;
    margin: 150px 0 0 60px;
}
.shopnow{
    color: #e8f3ef;
    font-weight: bold;
    text-decoration: none;
}
 /* END OF CONTAINER THREE */
 /* START OF CONTAINER FOUR */
.cont4,
.footer{
    display: flex;
    justify-content: center;
    align-content: center;
}
.cont4-div1{
    display: flex;
    border-width: 5px;
    border-color: #93E2C7;
    border-style: solid;
    border-radius: 15px;
    padding: 30px;
    margin: 60px;
}
.cont4-title{
    font-weight: bold;
    font-size: 25px;
    color:#4f5553;
}
.cont4-info{
    color:#404644;
    font-style: italic;
}
.cont4-ordernow{
    background-color: rgb(57, 189, 189);
    padding: 10px;
    height: 20px;
    margin-left: 80px;
}
 /* END OF CONTAINER FOUR */
 /* START OF FOOTER */
 .footer{
    background-color: #404644;
    padding: 30px;
 }
 .footer-text{
     font-size: 18px;
     color: #e4f0eb;
     text-align: center;
 }
 /* END OF FOOTER */