.order-header{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 50px;
}
.items{
    display: flex;
    margin-top: 50px;
}
.items-img{
    width: 300px;
    height: 300px;
    margin-left: 50px;
}
.qty-design{
    width: 100px;
}
.cart{
    display: flex;
}
.addtocart{
    width: 200px;
}