*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}
/* NAV BAR */
.logo{
    width: 150px;
    height: 150px;
}
.cont1{
    background-color: aquamarine;
    display: flex;
    align-content: center;
}
.cont1-logo{
    display: flex;
    margin: 32px 30px 32px 275px;
}
.list, li{
    font-style: none;
    font-size: 18px;
    text-decoration: none;
    color:#57635f;
    list-style: none;
    font-weight: bold;
    gap: 15px;
    margin-left: 30px;
}
.list:hover{
    background-color: #57be9c;
    padding: 10px;
    border-radius: 5px;
    color: aliceblue;
}
.search-bar{
    padding: 5px;
    font-size: 15px;
}
.search-bar:hover{
    padding: 15px;
    border-radius: 5px;
    font-size: medium;
}
.cont1-ul{
    display: flex;
    align-items: flex-start;
}
.cont1-button{
    display: flex;
    align-content: space-between;
    margin: 100px 0px 32px 300px;
}