html {
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
/* NAV BAR */
.logo{
  width: 150px;
  height: 150px;
}
.cont1{
  display: flex;
  align-content: center;
  position: sticky;
  background-color: #e8f3ef;
  width: 100%;
  margin-top: 0;
}
.cont1-logo{
  display: flex;
  margin: 32px 30px 15px 270px;
}
.list, li{
  font-style: none;
  font-size: 18px;
  text-decoration: none;
  color:#57635f;
  list-style: none;
  font-weight: bold;
  gap: 15px;
  margin-left: 30px;
  display: flex;
}
.list:hover{
  background-color: #57be9c;
  padding: 10px;
  border-radius: 5px;
  color:aliceblue;
}
.search-bar{
  margin-left: 60px;
  padding: 5px;
  font-size: 15px;
  font-size: large;
  width: 300px;
}
.search-bar:hover{
  padding: 15px;
  border-radius: 5px;
  font-size: medium;
}
.cont1-ul{
  display: flex;
  align-items: flex-start;
}
.cont1-button{
  display: flex;
  align-content: space-between;
  margin: 100px 0px 32px 10px;
}

/* START OF CONTACT US */

#div1{
	width:495px;
	height:600px;
	padding:6%;
	margin-top:0%;
	margin-left:30%;
	border:3px solid #6e3653;
  border-radius: 10px;
	background-color:#DF78AE;
	font-family: Helvetica, sans-serif;
	color:white;
}

textarea {
  height: 100px;
}
input, select, textarea {
  border-radius: 2px;
  border: 2px solid #ccc;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: Helvetica, sans-serif;
  width: 500px;
  padding: 8px;
}

button {
  height: 70px;
  width: 200px;
  margin-top: 45px;
  margin-left:30%;
  background: #62C0A0;
  color: white;
  border: 2px solid #93E2C7;
  font-size: 1.25em;
  font-family: 'Rockwell';
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  border: 2px solid #459076;
}

.myDiv{
  color: white;
  font-size: 2em;
  font-family: Helvetica, sans-serif;
  height:1px;
  margin-left: 60px;
  margin-top:60px;
}
.contact-title{
    padding: 30px;
}
 /* END OF CONTACT US */
  /* START OF FOOTER */
  .footer{
    background-color: #404644;
    padding: 30px;
    margin-top: 60px;
 }
 .footer-text{
     font-size: 18px;
     color: #e4f0eb;
     text-align: center;
 }
 /* END OF FOOTER */